# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---
name: "Checkin"
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    name: "Build & Test"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - 20
          - lts/*
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Setup node"
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: "npm ci"
        run: npm ci

      - name: "Build"
        run: npm run build

      - name: "Linters"
        run: npm run lint

      - name: "Unit Tests"
        run: npm run test

      - name: "Artifacts"
        uses: actions/upload-artifact@v4
        if: matrix.node == 'latest'
        with:
          path: |
            lib/sepa.js
            lib/sepa.min.js
